body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #3161e0;
}

#topheader {
    padding: 16px 0;
    justify-content: space-between;
}

#logo {
    padding: 16px 0;
    justify-content: flex-start;
    align-items: center;
}

#link {
    align-items: center;
    justify-content: center;
}

#login {
    justify-content: flex-end;
    border-radius: 40px;
    align-items: center;
    padding: 16px 0;
}

.flex-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    margin: 0 15px;
}

.icona-download {
    height: 20px;
}

.mac-button {
    width: 219px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 90px;
    font-size: 18px;
    background-color: white;
}

.browser-button {
    width: 290px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 90px;
    font-size: 18px;
    background-color: black;
    color: white;
}

#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: 1903px 730px;
    padding: 50px 0;
    min-width: 1900px;
}

.jumbo-content {
    text-align: center;
    padding: 64px 100px;
    flex-direction: column;
}

.jumbo-item {
    padding: 29px 0;
}

.titolo {
    font-size: 50px;
    font-weight: 500;
}

.sottotitolo {
    font-size: 25px;
}

.bottone-mac {
    border: none;
    background-color: white;
    color: black;
    border-radius: 100px;
    padding: 26px;
}

.flex-container {
	display: flex;
	max-width: 1400px;
	margin: 0 auto;
	min-height: 550px;
	padding: 64px 0;
}

.bigColumn {
	width: 67%;
	
}

.smallColumn {
	width: 33%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 20px;
}

span {
    font-size: 50px;
    font-weight: 700;
}

.img-study {
    background-image: url(../img/item1.svg);
    background-size: 905px 393px;
}

.img-voice {
	background-image: url(../img/item2.svg);
    background-size: 905px 400px;
}

.img-coach {
	background-image: url(../img/item3.svg);
    background-size: 905px 413px;
}

.img-justchilling {
	background-image: url(../img/item4-big.svg);
    background-size: 1400px 693px;
}

.dir-column {
    flex-direction: column;
    align-items: center;
}

.first-column {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px 35px 0 35px
}
.second-column {
    width: 100%;
    height: 700px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.third-column{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 0px 35px 20px 35px
}

.titolo-avventura {
    font-size: 30px;
    font-weight: 600;
    padding: 0 0 20px 0;
}

.bottone-finale {
    flex-direction: row;
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 181px;
    height: 50px;
    border: none;
    background-color: #8ea1e1;
    color: white;
    font-size: 18px;
}

.dimensione-freccia {
    height: 15px;   
}
